<div class='outer content-box'>
  <h3><strong>inbox</strong></h3>
    <a href='/messages/new'>
      <button class='btn btn-xs btn-info'>compose
      </button>
    </a> |
    <button class='btn btn-xs btn-danger' form='delete-selected' type='submit'>delete selected
    </button>
    <br><br>
    <span class='text-info'>
      <%= flash[:message_sent] %>
    </span>
    <span class='text-danger'>
      <%= flash[:deleted] %>
    </span>
  <table class='text-center table-striped' width='700px'>
    <tr>
      <th class='text-center check'></th>
      <th class='text-center date'>date</th>
      <th class='text-center from'>from</th>
      <th class='text-center title'>title</th>
      <th class='text-center action'></th>
    </tr>
      <% @messages.each do |message| %>
        <% if message.content == "share recipe" %>
          <tr>
            <td class='check'><input form='delete-selected' type='checkbox' name='message_ids[]' value='<%= message.id %>'></td>
            <td class='date'><%= message.created_at.strftime("%D~%H:%M") %></td>
            <td class='from'><a class='btn btn-link' href=/friends/<%= message.sender_id %>'><%= message.sender.username %></a></td>
            <td class='title'><a class='btn btn-link' href=/recipes/<%= message.recipe_id %>'><%= message.recipe_name_short %></a></td>
            <td class='action'>
              <% if !owned_recipe?(message.recipe) %>
                <form id='save' method='post' action='/recipes/<%= message.recipe_id %>/save'>
                  <input form='save' type='hidden' name='_method' value='patch'>
                  <input form='save' type='hidden' name='recipe_id' value='<%= message.recipe_id %>'>
                  <input form='save' type='hidden' name='message_id' value='<%= message.id %>'>
                  <input form='save' class='align-right btn btn-xs btn-success' type='submit' value='save'>
                </form>
              <% end %>
            </td>
          </tr>
        <% elsif message.content == "friend request" %>
          <tr>
            <td class='check'><input form ='delete-selected' type='checkbox' name='message_ids[]' value='<%= message.id %>'></td>
            <td class='date'><%= message.created_at.strftime("%D~%H:%M") %></td>
            <td class='from'><a class='btn btn-link' href='/friends/<%= message.sender_id %>'><%= message.sender.username %></a></td>
            <td class='title'><%= message.sender.username %> would like to be your friend!</td>
            <td class='action'>
              <form id='friend' method='post' action='/friends/<%= message.sender_id %>/confirm'>
                <input form='friend' type='hidden' name='_method' value='patch'>
                <input form='friend' type='hidden' name='message_id' value='<%= message.id %>'>
                <input form='friend' type='hidden' name='sender_id' value='<%= message.sender_id %>'>
                <input form='friend' class='btn btn-xs btn-info' type='submit' value='friend'>
              </form>
            </td>
          </tr>
        <% else %>
          <tr>
            <td class='check'><input form='delete-selected' type='checkbox' name='message_ids[]' value='<%= message.id %>'></td>
            <td class='date'><%= message.created_at.strftime("%D~%H:%M") %></td>
            <td class='from'><a class='btn btn-link' href='/friends/<%= message.sender_id %>'><%= message.sender.username %></a></td>
            <td class='title'><a class='btn btn-link' href='/messages/<%= message.id %>'><%= message.content %></a></td>
          <td></td>
        </tr>
        <% end %>
        <form id='delete-selected' method='post' action='/messages/delete'>
          <input type='hidden' name='_method' value='delete'>
        </form>
      <% end %>
  </table>
    <% if @messages.empty? %>
    <br>
      <span>you have no messages.</span>
    <% end %>
</div>
