<div class='outer content-box'>
  <h3><strong><%= @message.content %></strong></h3>
    <a href='/messages/<%= @message.sender.id %>/reply'>
      <button class='btn btn-xs btn-info'>reply</button></a> |
    <form style='display: inline;' method='post' action='/messages/delete'>
      <input type='hidden' name='_method' value='delete'>
      <input type='hidden' name='message_ids[]' value='<%= @message.id %>'>
      <input class='btn btn-xs btn-danger' type='submit' value='delete'>
    </form>
    <br>
    <br>
  <dl>
    <dt>
      from: <%= @message.sender.username %>
    </dt>
    <br>
    <div class='wrap'>
      <dd class='wrap' style='margin-left: 40px; width: 500px;'>
        <%= @message.composition %>
      </dd>
    </div>
  </dl>
