<div>
  <h1>Share Recipe</h1>
    <form method='post' action='/messages'>
      <span>Recipe: <%= @recipe.name %></span><br>
      <span>Share with:</span> <select name='owner_id'>
        <% @user.friends.each do |friend| %>
          <option value='<%= friend.id %>'><%= friend.username %></option>
        <% end %>
        </select><br>
      <textarea name='content' placeholder='Personalized message'></textarea><br>
      <input type='hidden' name='sender_id' value='<%= @user.id %>'>
      <input type='hidden' name='recipe_id' value='<%= @recipe.id %>'>
      <input type='submit' value='Share'>
    </form>
</div>
