<div class='outer content-box'>
  <h3><strong>share recipe</strong></h3>
    <form method='post' action='/messages'>
      <div>
        <div class='form-group'>
          <em>recipe:</em> <span class='sm-font'><strong><%= @recipe.name %></strong></span>
        </div><br>
        <div class='form-group'>
          <label>share with: </label><br>
          <select class='form-control input-sm' name='message[user_id]'>
            <% @user.friends.each do |friend| %>
              <option value='<%= friend.id %>'><%= friend.username %></option>
              <% end %>
            </select>
        </div><br>
        <input type='hidden' name='message[sender_id]' value='<%= @user.id %>'>
        <input type='hidden' name='message[recipe_id]' value='<%= @recipe.id %>'>
        <input type='hidden' name='message[content]' value='share recipe'>
        <input class='btn btn-success btn-xs' type='submit' value='share'>
      </div>
    </form>
</div>
