<div>
  <h1><%= @recipe.name %></h1>

  <% if owned? %>
    <a href='/recipes/<%= @recipe.id %>/edit'><button >Edit</button></a>
    |
    <form style='display: inline;' method='post' action='/recipes/<%= @recipe.id %>/delete'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Delete'>
    </form>
    |
    <a href='/recipes/<%= @recipe.id %>/share'><button>Share</button></a>
    |
    <form style='display: inline;' method='post' action='/recipes/<%= @recipe.id %>/favorite'>
      <input type='hidden' name='_method' value='patch'>
      <input type='submit' value='<3'>
    </form>

  <% elsif !owned_recipe?(@recipe) %>
    <form method='post' action='/recipes/<%= @recipe.id %>/save'>
      <input type='hidden' name='_method' value='patch'>
      <input type='hidden' name='recipe_id' value='<%= @recipe.id %>'>
      <input type='submit' value='Save'>
    </form>
  <% else %>
    <span>You already own a recipe with this name.</span>
  <% end %>
  <ul>
    <li>Prep Time: <%= @recipe.prep_time %></li>
    <li>Cook Time: <%= @recipe.cook_time %></li>
    <li>Total Time: <%= @recipe.total_time %></li>
  </ul>
  <h4>Ingredients</h4>
    <ul>
      <% @recipe.ingredients_array.each do |ingredient| %>
        <li><%= ingredient %></li>
        <% end %>
    </ul>
  <h4>Directions</h4>
    <ol>
      <% @recipe.directions_array.each do |step| %>
        <li><%= step %></li>
      <% end %>
    </ol>




</div>
