<div class='outer content-box'>
  <h3><strong><%= @recipe.name %></strong></h3>

  <% if owned? %>
    <a href='/recipes/<%= @recipe.id %>/edit'><button class='btn btn-xs btn-success'>edit</button></a>
    |
    <form style='display: inline;' method='post' action='/recipes/<%= @recipe.id %>/delete'>
      <input type='hidden' name='_method' value='delete'>
      <input class='btn btn-xs btn-danger' type='submit' value='delete'>
    </form>
    |
    <a href='/recipes/<%= @recipe.id %>/share'><button class='btn btn-xs btn-success'>share</button></a>
    |
    <form style='display: inline;' method='post' action='/recipes/<%= @recipe.id %>/favorite'>
      <input type='hidden' name='_method' value='patch'>
      <% if @recipe.favorite == 1 %>
        <input class='btn btn-xs btn-danger' type='submit' value='<3'>
      <% elsif @recipe.favorite == 0 %>
        <input class='btn btn-xs' type='submit' value='<3'>
      <% end %>
    </form>
    <br><br>

  <% elsif !owned_recipe?(@recipe) %>
    <form method='post' action='/recipes/<%= @recipe.id %>/save'>
      <input type='hidden' name='_method' value='patch'>
      <input type='hidden' name='recipe_id' value='<%= @recipe.id %>'>
      <input class='btn btn-xs btn-success' type='submit' value='save'>
    </form>
    <br>
  <% else %>
    <span>you already own a recipe with this name</span>
    <br><br>
  <% end %>
  <ul style='list-style-type: none;'>
    <li>Prep Time: <%= @recipe.prep_time %></li>
    <li>Cook Time: <%= @recipe.cook_time %></li>
    <li>Total Time: <%= @recipe.total_time %></li>
  </ul>
  <h4>ingredients</h4>
    <ul>
      <% @recipe.ingredients_array.each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
  <h4>directions</h4>
    <ol>
      <div class='wrap'>
        <% @recipe.directions_array.each do |step| %>
          <li style='width: 70%;'><%= step %></li>
        <% end %>
      </div>
    </ol>




</div>
