<div class='outer content-box'>
  <h3><strong><%= @friend.username %></strong></h3>
  <span class='text-info'>
    <%= flash[:request_sent] %>
  </span>
  <% if !friends? %>
    <form method='post' action='/messages'>
      <input type='hidden' name='message[sender_id]' value='<%= @user.id %>'>
      <input type='hidden' name='message[user_id]' value='<%= @friend.id %>'>
      <input type='hidden' name='message[content]' value='friend request'>
      <input class='btn btn-xs btn-info' type='submit' value='add friend'>
    </form>
  <% else %>
    <form method='post' action='/friends/<%= @friend.id %>/delete'>
      <input type='hidden' name='_method' value='delete'>
      <input class='btn btn-xs btn-danger' type='submit' value='remove friend'>
    </form>
    <br>
  <% end %>
    <dl>
      <dt><em>recipes</em></dt>
        <% @friend.recipes.each do |recipe| %>
          <dd><a class='btn btn-link' href='/recipes/<%= recipe.id %>'><%= recipe.name %></a></dd>
          <% end %>

      <dt><em>friends</em></dt>
        <% @friend.friends.each do |friend| %>
          <% if friend.id == @user.id %>
            <dd><a class='btn btn-link' href='/recipes'><%= friend.username %></a></dd>
          <% else %>
            <dd><a class='btn btn-link' href='/friends/<%= friend.id %>'><%= friend.username %></a></dd>
          <% end %>
        <% end %>
    </dl>
</div>
