<div>
  <h3><%= @friend.username %></h3>
  <% if !friends? %>
    <a href='/friends/add'><span>Add</span></a>
  <% else %>
    <a href='/friends/remove'><span>Remove</span></a>
  <% end %>
    <ul>
      <h5>Recipes</h5>
        <% @friend.recipes.each do |recipe| %>
          <li><a href='/recipes/<%= recipe.id %>'><%= recipe.name %></a></li>
          <% end %>

      <h5>Friends</h5>
        <% @friend.friends.each do |friend| %>
          <% if friend.id == @user.id %>
            <li><a href='/recipes'><%= friend.username %></a></li>
          <% else %>
            <li><a href='/friends/<%= friend.id %>'><%= friend.username %></a></li>
          <% end %>
        <% end %>
    </ul>
</div>
