<div>
  <h3><%= @friend.username %></h3>
  <% if !friends? %>
    <button form='add'>Add</button>
  <% else %>
    <button>Remove</button>
  <% end %>
    <ul>
      <h5>Recipes</h5>
        <% @friend.recipes.each do |recipe| %>
          <li><a href='/recipes/<%= recipe.id %>'><%= recipe.name %></a></li>
          <% end %>

      <h5>Friends</h5>
        <% @friend.friends.each do |friend| %>
          <% if friend.id == @user.id %>
            <li><a href='/recipes'><%= friend.username %></a></li>
          <% else %>
            <li><a href='/friends/<%= friend.id %>'><%= friend.username %></a></li>
          <% end %>
        <% end %>
    </ul>

    <form id='add' method='post' action='/friends/<%= @friend.id %>/add'>
      <input type='hidden' name='owner_id' value='<%= @friend.id %>'>
      <input type='hidden' name='sender_id' value='<%= @user.id %>'>
      <input type='hidden' name='content' value='Someone wants to be your friend!'>
    </form>
</div>
