<div>
  <h3><%= @friend.username %></h3>
  <% if !friends? %>
    <form method='post' action='/messages'>
      <input type='hidden' name='message[sender_id]' value='<%= @user.id %>'>
      <input type='hidden' name='message[user_id]' value='<%= @friend.id %>'>
      <input type='hidden' name='message[content]' value='Friend Request'>
      <input type='submit' value='Add Friend'>
    </form>
  <% else %>
    <form method='post' action='/friends/<%= @friend.id %>/delete'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Remove Friend'>
    </form>
  <% end %>
    <ul>
      <h5>Recipes</h5>
        <% @friend.recipes.each do |recipe| %>
          <li><a href='/recipes/<%= recipe.id %>'><%= recipe.name %></a></li>
          <% end %>

      <h5>Friends</h5>
        <% @friend.friends.each do |friend| %>
          <% if friend.id == @user.id %>
            <li><a href='/recipes'><%= friend.username %></a></li>
          <% else %>
            <li><a href='/friends/<%= friend.id %>'><%= friend.username %></a></li>
          <% end %>
        <% end %>
    </ul>


</div>
